body {
    margin:0;
    padding:0;
    font-family:san-serif;  
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLpe4hJqQA6KRgiS2FSTyunUhH_yWeW287WqwmOBu4tFkZt2Xy&usqp=CAU);
    background-size: cover;
  background-repeat:no-repeat;
}
 ul{
    list-style-type:none ;
    margin:0;
    padding:0;
    text-align:right ;
    font-size:20px;
}
  li{
    display:inline ;
    margin:7px;
    color:black;
    font-size:10px;
}
#img {
        margin-top:10px 
 }


  

 .blue{
     color:blue;
     font-weight:80%;
     font-family:serif;
     font-size:45px;
     
     
 }
 .red{
     color:red;
     font-weight:80%;
     font-family:monospace;
     font-size:45px;
 }
.yellow{
     color:yellow;
     font-weight:80%;
     font-family:monospace;
     font-size:45px;
 }
 .green{
     color:green;
     font-weight:80%;
     font-family:cursive;
     font-size:45px;
 }
center {
     margin-top:210px;
 }
input{
    padding:10px;
    width:60%;
    float: right;
    font-size:10px;
    border:1px solid ;
    background:#f1f1f1;
    margin-top:30%;
    align-item: center;

    
}
 button {
    padding:10px;
    float:right ;
    position:absolute ;
    font-size:10px;
    border:1px solid;
    width:10%;
    color:grey;
    background:blue;
    margin-top:30%;
}
i{
    font-size:10px;
    color:black;
}
a{
   margin-top:20%;
   padding:10px;
   font-family:serif;
   font-size:12px;
   display: inline-block;
   
   color:blue;
}

    
    

    

